
 .job-wrapper {
    display: flex;
    min-height: 100vh; 
    align-items: stretch;
}

aside {

    width: 260px !important;
    min-width: 260px !important;
    background-color: #f8f1f1; 
    height: 100vh;
    position: sticky !important; 
    top: 0;
}
aside h3 {
    font-size: 21px;
    margin-bottom: 15px;
}
aside li{
    font-size: 18px;
}


main.admin-main-jobs {
    max-width: none !important;
    margin: 0 !important;
    padding: 20px !important;
    display: block !important;
}


main.admin-main-jobs h2 {
    font-size: 45px !important;
    font-weight: bold !important;
    text-align: center !important;
}
main.admin-main-jobs h3{ 
    text-align: left !important;  
    margin-left: 10px !important; 
    font-size: 25px !important;
    font-weight: bold !important;
    margin-top: 20px !important;
    margin-bottom: 15px !important;

}
body h2{ 
    font-size: 30px;
    margin-left: 0%;}

table {
    width: 700px;

    border-collapse: collapse; 
    margin-left: 0px ;
    background: white;
    border-radius: 8px;
    overflow: hidden; 
}

table th, table td {
    margin-left: 20px;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td{
    font-style:oblique;
    color: #454e64;
    font-weight:500;
}

table th {
    font-size: 18px;
    background-color: #8e288e;
    color: white;
}


table tr:hover {
    background-color: #f1f5f9;
}


aside h3{ 
    font-size: auto;
    position:unset;
    margin-bottom: 10px;
    margin-right: 10px;
}
aside ul{
    
    list-style: none;
}

aside ul li {
    margin-bottom: 15px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

aside ul li a:hover {
    color: #001f75;
}
