*{
margin:0;
padding:0;
box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    color: #333;
    background-color: #fdfdfd;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: #333;
    font-size:24px;
    font-weight:bold;
}

span {
    color: #7b4aa1;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #7b4aa1;
}

.nav-bar ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-bar a:hover {
    color: #7b4aa1;
}

#logout-btn {
    color: #78135d;
    font-weight: bold;
    font-size: 1.3rem;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
    margin-top: auto;
}

.search-section{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
width:350px;
margin:20px auto;
text-align:center;
}
.search-section input{
width:100%;
padding:8px;
margin:8px 0;
border-radius:5px;
border:1px solid #ccc;
}
.search-section button{
width:100%;
margin-top:10px;
padding:10px 15px;
border:none;
border-radius:6px;
background-color:#7b4aa1;
color:white;
cursor:pointer;
}
.search-section button:hover{
background:#6500b3;
}

.jobs-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:20px;
max-width:1000px;
margin:auto;
}
.job-card{
padding:25px;
border-radius:12px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
transition: all 0.3s ease;
}
.job-card:hover{
transform: translateY(-5px);
box-shadow:0 6px 16px rgba(0,0,0,0.15);
}
.job-card h3{
font-size:22px;
margin-bottom:10px;
color:#111827;
}
.job-card p{
margin:6px 0;
font-size:15px;
color:#374151;
}
.job-card strong{
color:#111827;
}
.job-card h3::after{
content:"";
display:block;
width:50px;
height:3px;
background-color:#7b4aa1;
margin-top:6px;
border-radius:2px;
}
button{
padding:10px 16px;
border:none;
background-color:#7b4aa1;
color:white;
border-radius:5px;
cursor:pointer;
}
button:hover{
background:#6500b3;
}

.btn-edit {
    background-color: #e0e7ff; 
    color: #7b4aa1;          
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;   
    font-weight: 500;
    display: inline-block;    
    transition: all 0.3s ease;
    border: 1px solid #e0e7ff;
}


.btn-edit:hover {
    background-color: #c7d2fe;
    color: #6500b3;
    border-color: #c7d2fe;
}

.btn-delete {
    background-color: #fee2e2; 
    color: #991b1b;           
    border: 1px solid #fee2e2;
    border-radius: 6px;
    padding: 6px 14px;        
    font-weight: 500;
    transition: all 0.3s ease; 
}


.btn-delete:hover {
    background-color: #fca5a5; 
    color: #991b1b;
    border-color: #fca5a5;
    text-decoration: none; 
}

.btn-secondary{
padding:8px 14px;
border-radius:6px;
border:none;
background-color:#7b4aa1;
color:white;
cursor:pointer;
margin-top:10px;
}
.btn-secondary:hover{
background:#6500b3;
}
.status{
padding:4px 10px;
border-radius:5px;
font-size:14px;
font-weight:bold;
margin-left:5px;
}
.status.open{
background-color:#d1fae5;
color:#065f46;
}
.status.closed{
background-color:#fee2e2;
color:#991b1b;
}

.container{
  max-width:700px;
  margin:30px auto;
  padding:0 10px;
}

.job-list{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.job-card{
  display:flex;
  gap:15px;
  padding:18px;
  border:1px solid #eee;
  border-radius:8px;
  background:#fff;
}

.job-logo{
  width:50px;
  height:50px;
  background:#eee;
  border-radius:6px;
  flex-shrink:0;
}


.job-content{
  flex:1;
}

.job-card h3{
  font-size:18px;
  margin-bottom:5px;
}

.company{
  color:#7b4aa1;
  font-weight:500;
}

.job-meta{
  font-size:14px;
  color:#555;
}

.status.applied{
  background:#dbeafe;
  color:#6500b3;
}

.status.review{
  background:#fef3c7;
  color:#92400e;
}

.btn.disabled{
  background:#ccc;
  cursor:not-allowed;
}
.job-details-container{
max-width:900px;
margin:40px auto;
padding:20px;
}

.job-details-card{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.job-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
border-bottom:1px solid #eee;
padding-bottom:10px;
}

.job-header h2{
font-size:26px;
}

.posted-date{
color:#666;
font-size:14px;
}

.job-info-section{
margin-bottom:20px;
}

.job-section{
margin-top:20px;
}

.job-section ul{
margin-left:20px;
margin-top:10px;
}

.apply-section{
margin-top:30px;
display:flex;
gap:15px;
align-items:center;
}

.back-btn{
text-decoration:none;
padding:10px 16px;
background:#eee;
border-radius:6px;
color:#333;
}

.back-btn:hover{
background:#ddd;
}
.btn-primary:disabled{
background:#ccc;
cursor:not-allowed;
}

#noJobsMessage{
display:none;
text-align:center;
margin:40px auto;
font-size:22px;
font-weight:bold;
color:#991b1b;
background:#fee2e2;
padding:15px 25px;
border-radius:8px;
width:fit-content;
}

@media (max-width: 768px) {
    body {
        padding-top: 80px;
    }

    .menu-icon {
        display: block;
    }

    .nav-bar {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 20px 0;
        box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    }

    .nav-bar.active {
        display: block;
    }

    .nav-bar ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
main {
    background-color: white;
    max-width: 450px; 
    margin: 40px auto; 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    flex: 1;
}
/* LOGIN AND SIGNUP FORM STYLES (MAHER)    */
main h3 { text-align: center; margin-top: 25px; color: #111827; }
main p { text-align: center; margin-top: 10px; }
main p a { color: #7b4aa1; text-decoration: none; font-weight: bold; }
main p a:hover { text-decoration: underline; }
main table { width: 100%; border-collapse: collapse; }
main td { padding: 10px 0; }
main td label { font-weight: 600; color: #374151; font-size: 14px; }
main input[type="text"], 
main input[type="password"], 
main input[type="email"] {
    width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 6px; 
}
main input[type="text"]:focus, 
main input[type="password"]:focus {
    border-color: #7b4aa1; outline: none;
}
main input[type="submit"] {
    width: 100%; background-color: #7b4aa1; color: white; border: none;
    padding: 12px; font-size: 16px; font-weight: bold; border-radius: 6px; 
    cursor: pointer; margin-top: 15px;
}
main input[type="submit"]:hover { background-color: #6500b3; }
.msg { font-weight: bold; margin-bottom: 20px; text-align: center; padding: 12px; border-radius: 6px; }
