{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cssFiles/style.css' %}">
     <link rel="stylesheet" href="{% static 'cssFiles/admin-jobs.css' %}">
    <title>Admin - Manage Jobs</title>
</head>

<body>

    <header>
        <div><h1 class="logo">Job<span>Finder</span></h1></div>

        <div class="menu-icon" id="menu-btn">&#9776;</div>

        <nav class="nav-bar" id="nav-menu">   
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'admin_jobs' %}">Company Jobs</a></li>
                <li><a href="{% url 'add_job' %}">Add New Job</a></li>
                <li><a href="{% url 'index' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="job-wrapper">
    
    <aside>
        <h3>Admin Panel</h3>
        <ul>
            <li><a href="{% url 'admin_dashboard' %}">📊 Dashboard Overview</a></li>
            <li><a href="{% url 'admin_jobs' %}">💼 Manage Jobs</a></li>
            <li><a href="{% url 'add_job' %}">➕ Add New Job</a></li>
            <li><a href="{% url 'applied_jobs' %}">📩 Applied Jobs</a></li>
            <li><a href="{% url 'jobs' %}" target="_blank">🌐 View Site (Jobs)</a></li>
            <li><a href="{% url 'index' %}">🏠 Home Page</a></li>
           <li><a href="{% url 'login' %}" style="color: #991b1b;">🚪 Logout</a></li>
        </ul>
    </aside>

    <main class="admin-main-jobs">
        <h2 style="text-align: center; margin-bottom: 20px;">Admin Overview</h2>
        
        <h3>Current Job Vacancies</h3>  
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Job Title</th>
                    <th>Salary</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            
                </tbody>
        </table>
    </main>

</div>
    <footer>
        &copy; 2026 JobFinder. All rights reserved.
    </footer>
        <script src="{% static 'jsFiles/main.js' %}"></script>
        <script src="{% static 'jsFiles/admin.js' %}"></script>
</body>

</html>