<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cssFiles/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div><h1 class="logo">Job<span>Finder</span></h1></div>

        <div class="menu-icon" id="menu-btn">&#9776;</div>

        <nav class="nav-bar" id="nav-menu">   
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="admin-dashboard.html">Dashboard</a></li>
                <li><a href="admin-jobs.html">Company Jobs</a></li>
                <li><a href="add-job.html">Add New Job</a></li>
                <li><a href="index.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <footer>
        &copy; 2026 JobFinder. All rights reserved.
    </footer>
    <script src="jsFiles/main.js"></script>
</body>
</html>