<ul{% if ul_class %} class="{{ ul_class }}"{% endif %}>
    <li><a href="{% url 'index' %}">Home</a></li>
    {% if show_about %}
    <li><a href="{% url 'index' %}#features">About</a></li>
    {% endif %}
    <li><a href="{% url 'jobs' %}">Find Jobs</a></li>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
        {% endif %}
        <li><a href="{% url 'applied_jobs' %}">Applied Jobs</a></li>
        {% if wrap_logout_button %}
        <li><a href="{% url 'logout' %}"><button>Logout</button></a></li>
        {% else %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
    {% endif %}
</ul>
